apiVersion: apps/v1
kind: Deployment
metadata:
  name: app-v1
  namespace: myapp
  labels:
    app: my-app
    version: v1
spec:
  replicas: 2
  selector:
    matchLabels:
      app: my-app
      version: v1
  template:
    metadata:
      labels:
        app: my-app
        version: v1
    spec:
      containers:
      - name: flask
        image: pankaj6262/flaskapp:latest
        imagePullPolicy: Always
        ports:
        - containerPort: 8080
