apiVersion: v1
kind: Service
metadata:
  name: app-v1
  namespace: myapp
  labels:
    app: my-app
    version: v1
spec:
  selector:
    app: my-app
    version: v1
  type: LoadBalancer
  ports:
  - name: http
    port: 8080
    targetPort: 8080
